<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:coach.properties"/>
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
<bean 	id		="myFortune" class 	="springdemo.FortuneTeller">

</bean>

<bean 	id		="myCoach" class 	="springdemo.TrackCoach">
<constructor-arg ref="myFortune"> </constructor-arg>
</bean>

<bean 	id		="myCoach2" class 	="springdemo.BaseballCoach">
<constructor-arg ref="myFortune"> </constructor-arg>
</bean>

<bean 	id		="cricketCoach" class 	="springdemo.CricketCoach">
<property name="fortuneTeller" ref="myFortune"></property>
<property name="name" value="Ishfaaq"></property>
<property name="emailAddress" value="iishfaaq@gmail.com"></property>

</bean>

<bean 	id		="cricketCoach2" class 	="springdemo.CricketCoach">
<property name="fortuneTeller" ref="myFortune"></property>
<property name="name" value="${coach.username}"></property>
<property name="emailAddress" value="${coach.name}"></property>

</bean>
</beans>





